*{
    padding: 0;
    margin: 0;
}

/* html{
    
} */

body{
    /* margin: 0 100px; */
    width: 80%;
    margin: 0 auto;
    background-image: url(missionImages/navy-blue.jpg);
}

.outside-container{
    background-color: rgba(000,000,000,0.5);
    color: white;
    margin: 0;
    padding: 0;
}

.container-1-header, .container-2-header{
    position: relative;
    width: 100%;}

.c1-header-img, .c2-header-img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #5e91b6 ;
  }
  /* #5e91b6 #6d919f*/
  
  
  .container-1-header:hover .overlay, .container-2-header:hover .overlay {
    opacity: 0.7;
  }
  
  .c1-header-text, .c2-header-text {
    color: white;
    font-size: 68px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.c1-body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin: 50px;
}

.c1-content{
    margin: 50px;
    margin-top: 0;
}

.c1-title{
    margin: 15px;
    text-align: center;
}

.c1-text{
    margin-bottom: 60px;
}


.interlude-img{
    width: 100%;
    height: 700px;
    position: relative;
}

.container-2{
    margin-top: 60px;
}

.container-2-body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
    padding: 2rem;
}

.c2-content{
    grid-column: 1/3;
}

.c2-title{
    margin: 15px;
}

ul{
    margin: 25px;
    margin-bottom: 60px;

}

/* .c2-text{
    margin-bottom: 60px;
} */

.c2-img{
    max-width: 500px;
    height: auto;
    margin: 1rem;
}

.we-are-img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/* section divide */

.container-3{
    padding: 0 60px;
    margin-top: 100px;
}

.c3-title{
    text-align: center;
    padding-bottom: 50px;
}

.c3-body{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 100px;
}

.member-card{
    align-items: center;
    max-width: 230px
    
}

.member-img{
    width: 80%;
    aspect-ratio: 2/2;
    object-fit: cover;
    border-radius: 10rem;
    margin: auto;
    display: block;
}

.member-name{
    text-align: center;
    margin-top: 20px;
}

.member-title{
    text-align: center;
    margin-top: 15px;
}

.founder-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-gap: 15px; */
    /* display: flex; */
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 60px;
    padding: 2rem; 
}

/* .founder-container h3 {
    margin-left: 2rem;  

} */

.founder-info{
    /* max-width: 500px;
    height: auto;
    margin: 1rem; */
    text-align: center;
}

.founder-img{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 1rem;
    /* position: absolute; */

}

.founder-quote{
    /* grid-column: 2/4; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav and footer css */

footer{

    height: 100px;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    margin-top: 200px;
  
  
  }
  .footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  
  }
  .footer_content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 10px;
    font-size: 19px;
  text-decoration: none;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
  }
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: #fff;
    margin:20px;
  }
  
  .footer-bottom{
    margin: auto;
    padding-top: 20px;
    background-color: #34495e;
  
  }

  span{
    color: #BBC6CE;
}

  a
{
  text-decoration:none;
  color:white;
}

.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;  
    z-index: 1; 
    left: 0; 
     top: 0; 
     background-image: url(supplies.jpeg);
     background-size: 1500px 850px;
    /* background-color: #ffeaa7;  */
    overflow-x: hidden; 
    transition: 0.5s;

   } 
  
  /*  content inside the nav */
  .nav-overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }
  .nav-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #eeee;
    display: block; 
    transition: 0.3s;
  }
  
  /* changes color of nav links */
  .nav-overlay a:hover, .overlay a:focus {
    color: black
  };
  
  /* move the button to the up right corner */
  .nav-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

/* responsiveness for phone */
@media screen and (max-width: 480px) {
    html{
        width: 100%;
    }

    .c1-body{
        display: block;
    }

    .c1-content {
        margin: 0;
    }

    .container-2-body{
        display: block;
    }
    .c2-img{ 
        display: none;
    }

    .c3-body{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .founder-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 100%;
        height: 80vh;
        padding: 0;
        padding-bottom: 80px;
        
    }

    .founder-img{
        width: 200px;
        height: 200px;
        /* object-fit: cover; */
    }

    .socials li{
        margin: 0;
    }
  }


/* responsiveness for tablet */
@media screen and (min-width: 481px) and (max-width: 799px) {
    .c1-body{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 50px;
        margin: 0;
        grid-gap: 0;
    }

    .container-2-body{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        }

    .c3-body{
        gap: 32px;
    }

    .member-card{
        width: 230px;
    }

    .founder-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        width: 100%;
        height: 50vh;
        padding: 0;
        padding-bottom: 80px;
        
    }

    .founder-img{
        width: 300px;
        height: 300px;
        /* object-fit: cover; */
    }
  }

/* media query for desktop */
@media screen and (min-width: 800px) and (max-width: 1199px) {
    .c1-body{
        grid-gap: 0;
    }

    .c1-content {
        margin: 30px;
    }

    .container-2-body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }

    .member-card{
        width: 230px;
    }

    .founder-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 100px;
    }

    .founder-img{
        width: 400px;
        height: 400px;
        /* grid-gap: 80px; */
    }
    }